<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JOIN</title>
    <link rel="stylesheet" href="/css/member/join.css">
</head>
<body>
<form action="/member/join" method="post" name="joinForm">
    <div>
        <input type="text" name="memberEmail" placeholder="이메일">
    </div>
    <p id="email-message"></p>
    <div>
        <input type="password" name="memberPassword" placeholder="비밀번호">
    </div>
    <div>
        <input type="text" name="memberName" placeholder="이름">
    </div>
    <button type="button">회원가입</button>
</form>
</body>
<script src="/js/member/join/service.js"></script>
<script src="/js/member/join/event.js"></script>
</html>















