* {
    font-size: 1.2rem;
}

table {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

div {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

button {
    width: 62.5%;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    width: 244px;

}

.status-true {
    color: green;
}

.status-false {
    color: red;
}
