<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>
</head>
<body>
    <h1 th:object="${book}">
        <h2 th:text="*{title}"></h2>
        <h2 th:text="*{author}"></h2>
        <h2 th:text="*{price}"></h2>
        <h2 th:text="*{publisher}"></h2>
        <h2 th:text="*{bookSale()}"></h2>
    </h1>
</body>
</html>