<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hobby-Form</title>
</head>
<body>
<form action="/practice/hobby-result" method="post">
    <label>
        <input type="checkbox" name="hobby" value="운동">운동
    </label>
    <label>
        <input type="checkbox" name="hobby" value="독서">독서
    </label>
    <label>
        <input type="checkbox" name="hobby" value="영화">영화
    </label>
    <label>
        <input type="checkbox" name="hobby" value="게임">게임
    </label>
    <label>
        <input type="checkbox" name="hobby" value="요리">요리
    </label>
    <button>완료</button>
</form>
</body>
</html>