<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order-Form</title>
</head>
<body>
<form action="/practice/order-confirm" method="post">
    <input type="text" name="customerName" placeholder="이름을 적으세요" value="name">
    <input type="text" name="productName" placeholder="제품명">
    <input type="text" name="quantity" placeholder="수량">
    <input type="text" name="unitPrice" placeholder="단가">
</form>
</body>
</html>