<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EX10</title>
</head>
<body>
<form action="/ex/ex10" method="post">
    <input type="text" name="name" value="언북중학교">
    <input type="text" name="students[0].name" value="홍길동">
    <input type="text" name="students[0].kor" value="30">
    <input type="text" name="students[0].eng" value="50">
    <input type="text" name="students[0].math" value="70">
    <input type="text" name="students[1].name" value="이순신">
    <input type="text" name="students[1].kor" value="100">
    <input type="text" name="students[1].eng" value="90">
    <input type="text" name="students[1].math" value="100">
    <button>완료</button>
</form>
</body>
</html>