<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <input type="text" id="phone" placeholder="핸드폰 번호">
    <button id="send">인증 번호 전송</button>
</body>
<script src="/js/sms/service.js"></script>
<script src="/js/sms/event.js"></script>
</html>