<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EX08</title>
</head>
<body>
<form action="/ex/ex09" method="post">
    <label>
        <input type="checkbox" name="data" value="사과"> 사과
    </label>
    <label>
        <input type="checkbox" name="data" value="딸기"> 딸기
    </label>
    <label>
        <input type="checkbox" name="data" value="수박"> 수박
    </label>
    <button>완료</button>
</form>
</body>
</html>